<div class="iframe-drag-bounds" #dragBounds id="dragBounds" style="width: 1169px; height: 827px; padding: 39px">
  <div class="iframe-resize-container"
       ngResizable
       rzHandles="n,s,e,w,se,sw"
       ngDraggable
       rzContainment="#dragBounds"
       [handle]="dragHandle"
       [bounds]="dragBounds"
       [inBounds]="true"
       [preventDefaultEvent]="true">
    <div #dragHandle class="iframe-drag-handle">
      <p> Draggable & Resizable </p>
    </div>
    <iframe src="https://google.com" scrolling="no" width="100%" class="iframe-content"></iframe>
  </div>
</div>

