<div #canvasWrapper class="page-wrapper">
  <canvas #canvasVertical class="ngRuler-line"></canvas>
  <canvas #canvasHorizontal class="ngRuler-line horizontal"></canvas>
  <div class="div-drag-bounds" cdkDropList #dragBounds id="dragBounds"
       [cdkDropListData]="transferredList"
       (cdkDropListDropped)="dragDrop($event)"
  >
    <ng-container #dragBoundsChild>
      <div class="div-resize-container"
           ngClosable
           ngResizable
           rzHandles="n,s,e,w,se,sw,nw"
           ngDraggable
           rzContainment="#dragBounds"
           [bounds]="dragBounds"
           [inBounds]="true"
           [rzMinWidth]="20"
           [rzMinHeight]="20"
           [showMoveHandler]="true"
           [position]="{ x: 200, y: 400 }"
           [preventDefaultEvent]="true"
           style="width: 250px; height: 100px;"
      >
        <span>Adres Müşteri</span>
      </div>
      <div class="div-resize-container"
           ngClosable
           ngResizable
           rzHandles="n,s,e,w,se,sw,nw"
           ngDraggable
           rzContainment="#dragBounds"
           [bounds]="dragBounds"
           [inBounds]="true"
           [rzMinWidth]="20"
           [rzMinHeight]="20"
           [showMoveHandler]="true"
           [position]="{ x: 300, y: 300 }"
           [preventDefaultEvent]="true"
           style="width: 200px; height: 300px;"
      >
        <span>Müşteri Adı Soyadı</span>
      </div>
    </ng-container>
  </div>
</div>

<div
  class="drag"
  cdkDropList
  [cdkDropListConnectedTo]="['dragBounds']"
  [cdkDropListSortingDisabled]="true"
>
  <div
    cdkDrag
    class="drag-item"
    *ngFor="let content of contents"
    (cdkDragStarted)="dragStart($event)"
    (cdkDragReleased)="dragRelease($event)"
  >
    {{content}}
  </div>
</div>
