.page-wrapper {
  background-color: lightgrey;
}

.ngRuler-line {
  float: left;
}

.ngRuler-line.horizontal {
  position: fixed;
  margin-left: -25px
}

.div-drag-bounds {
  position: relative;
  top: 25px;
  left: 25px;
  background-color: white;
  width: 210mm;
  height: 297mm;
  min-width: 210mm;
  min-height: 297mm;
  max-width: 210mm;
  max-height: 297mm;
}

.div-resize-container {
  position: absolute;
  overflow: hidden;
  cursor: move;
  width: 200px;
  height: 50px;
  border: 1px solid #e8e7e7;
}

.div-resize-container:hover {
  border: 1px solid #22C39E;
}

.ng-resizable-handle {
  z-index: 90;
}

.ng-resizable-n, .ng-resizable-s {
  height: 9px;
}

.ng-resizable-e, .ng-resizable-w {
  width: 9px;
}








.drag {
  position: absolute;
  top: 0;
  right: 10px;
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.drag-item {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
  cursor: grab;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.drag-item:last-child {
  border: none;
}
